<h1>Emprestimo</h1>
<a href="{% url 'biblioteca:create_emprestimo'%}">Criar</a>
<ul>
{% for emprestimo in object_list %}
    <li>{{ emprestimo.pessoa.nome }} - {{ emprestimo.livro.nome }} <a href="{% url 'biblioteca:update_emprestimo' emprestimo.pk %}">Editar</a> <a href="{% url 'biblioteca:delete_emprestimo' emprestimo.pk %}">Deletar</a> </li>
{% empty %}
    <li>Não tem nem uma Emprestimo cadastrado</li>
{% endfor %}
</ul>
<a href="{% url 'biblioteca:list'%}">Voltar</a>
