<h1>Biblioteca</h1>
<ul>
    <li><a href="{% url 'biblioteca:list_livro'%}">Livros</a></li>
    <li><a href="{% url 'biblioteca:list_pessoa'%}">Pessoas</a></li>
    <li><a href="{% url 'biblioteca:list_emprestimo'%}">Emprestimo</a></li>
</ul>
