<h1>Livros</h1>
<a href="{% url 'biblioteca:create_livro'%}">Criar</a>
<ul>
{% for livro in object_list %}
    <li>{{ livro.nome }} <a href="{% url 'biblioteca:update_livro' livro.pk %}">Editar</a> <a href="{% url 'biblioteca:delete_livro' livro.pk %}">Deletar</a> </li>
{% empty %}
    <li>Não tem nem uma Livro cadastrado</li>
{% endfor %}
</ul>
<a href="{% url 'biblioteca:list'%}">Voltar</a>
