<h1>Pessoas</h1>
<a href="{% url 'biblioteca:create_pessoa'%}">Criar</a>
<ul>
{% for pessoa in object_list %}
    <li>{{ pessoa.nome }} <a href="{% url 'biblioteca:update_pessoa' pessoa.pk %}">Editar</a> <a href="{% url 'biblioteca:delete_pessoa' pessoa.pk %}">Deletar</a> </li>
{% empty %}
    <li>Não tem nem uma Pessoa cadastrado</li>
{% endfor %}
</ul>
<a href="{% url 'biblioteca:list'%}">Voltar</a>
